<a href="https://colab.research.google.com/github/chenjj28/crossin/blob/master/70_%E6%9D%A8%E8%BE%89%E4%B8%89%E8%A7%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 70.杨辉三角
打印出杨辉三角形（要求打印出10行如下图）。<br>
1 <br>
1 1 <br>
1 2 1 <br>
1 3 3 1 <br>
1 4 6 4 1 <br>
1 5 10 10 5 1 <br>
1 6 15 20 15 6 1 <br>
1 7 21 35 35 21 7 1 <br>
1 8 28 56 70 56 28 8 1 <br>
1 9 36 84 126 126 84 36 9 1

In [0]:
def triangle1():
    q = [1]
    while True:
        yield q
        i = 0
        while i < len(q):
            if i>0:
                q[i] = p[i-1] + p[i]
            i+=1
        q.append(1)
        p = q[:]

n=0
for t in triangle1():
    print(t)
    n=n+1
    if n == 10:
        break

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [0]:
def triangle2():
    q = [1]
    while True:
        yield q
        q = [1 if i==0 or i==len(q) else (q[i-1]+q[i]) for i in range(len(q)+1)]
                                                                               
n=0
for t in triangle2():
    print(t)
    n=n+1
    if n == 10:
        break

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [0]:
def triangle3():
    q = [1]
    while True:
        yield q
        q.insert(0,0)
        q = [q[i]+q[i+1] for i in range(len(q)-1)]
        q.append(1)

n=0
for t in triangle3():
    print(t)
    n=n+1
    if n == 10:
        break

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [0]:
def triangle4():
    q = [1]
    while True:
        yield q
        q.append(0)
        q = [q[i-1]+q[i] for i in range(len(q))]

n=0
for t in triangle4():
    print(t)
    n=n+1
    if n == 10:
        break

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]